{% extends "base.html" %}
{% set active_page = 'login' %}
{% block title %} Login {% endblock %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
            <p> {{ msg }}</p>
        {% endfor %}
        {% endif %}
    {% endwith %}
<div class="w-50" style = 'background-image: url({{ url_for('static', filename='image.jpg', mode = 'fit') }}); '>
<form method="post">
  {{ form.csrf_token }}
  <div class="mb-3">
	<fieldset class="form-field">
		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control") }}
		{% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}
				  <li>{{ error }}</li>
              {% endfor %}
            </ul>
	    {% endif %}
    </fieldset>
  </div>
  <div class="mb-3">
	<fieldset class="form-field">
		{{ form.password.label(class="form-label") }}
		{{ form.password(class="form-control") }}
    </fieldset>
  </div>
  {{ form.submit(class="btn btn-primary" ) }}
    <a class="btn btn-primary" href="/signup" role="button">NewUser</a>
</form>
</div>
 {% endblock %}